*{
    margin: 0px;
    padding: 0px;
}

#cajas {
    max-width: 1080px;
    border: 2px solid black;
}

#cajas .caja{
    display: block;
    background-color: brown;
    width: 250px;
    height: 250px;
    border:10px solid black;
    margin: 15px;
    padding:20px;
    float: left;
}


.caja p{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color:wheat;
    font-size: 20px;
    line-height: 230px;
}

.cleardiv{
    float: none;
    clear: both;
}