
*{/*Reseteos y defaults*/
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body{
    font-family: Arial, Helvetica, sans-serif;
} */

#container{
    width: 1200px;
    background-color: bisque;
    margin: 0px auto; /*poara centrar el contenerdor*/
}

#header {
    width: 100%;
    height: 200px;
    
    background-image: url(img/pattern.jpg);
}

#header h1{
    color: aliceblue;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-nav{
    display: flex;
    width: 100%;
    background-color: black; 
    padding: 0;
}

/* #menu-nav ul{
    margin: 0px;
    padding: 0;
    list-style: none;
} */

#menu-nav ul li{
    display: block;
    float: left;
    margin: 0;
    transition: all 0.3s linear;
}
#menu-nav ul li:hover{
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}
#menu-nav .menu-item a{
    display: block;
    padding: 15px;
    color: white;
    
    font-weight: 100;
    text-transform: uppercase;
}

/* #menu-nav .menu-item a:hover{
    
} */

.fixfloats{
    float: none;
    clear: both;
}

#central{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    width: 100%;
    height: 100%;
}

#sidebar{
    display: block;
    background-color: blueviolet;
    width: 30%;
    height: auto;
    min-height: 500px;
    float: left;
}

#sidebar .side-element{
    background-color: cornflowerblue;
    margin: 10px;
    padding: 10px;
    height: 150px;
}

#bodycontainer{
    display: block;
    margin: 0;
    width: 70%;
    height: auto;
    float: left;
    background-color: yellow;
}

#bodycontainer #titulo-contenido{
    background-color: cornflowerblue;
    margin: 10px;
    font-size: 30px;
}

#bodycontainer .caja{
    display: block;
    background-color: brown;
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    text-align: center;
}

footer{
    display: flex;
    background-color: darkgray;
    padding: 20px auto;
    height: 100px;
    align-items: center;
    border-top: 1px solid darkgreen;
}

footer p{
    display: block;
    margin: auto;
    background-color: aqua;
    text-align: center;
}
